<div class="bd-example">
  <table class="table table-striped">

    <thead>
      <tr>
        <th>#</th>
        <th>username</th>
        <th>phone</th>
        <th>datestamp</th>
        <th>barber</th>
        <th>color</th>
      </tr>
    </thead>

    <tbody>
      <% @i = 0 %>
      <% @arr.each do |row| %>      
      <% @i += 1 %>
        <tr>
          <th><%= @i %></th>       
          <td><%= row['username'] %></td>
          <%= "<td> #{row['phone']} </td>" %>  <%# можно так %>
          <td><%= row['datestamp'] %></td>
          <td><%= row['barber'] %></td>
          <td><%= row['color'] %></td>
        </tr>
      <% end %>
    </tbody>

  </table>
</div>

<%# scope="row" %>